streamlit
langchain
langgraph
groq
langchain_groq
pdfplumber
pandas
sentence-transformers
python-dotenv
email-validator
requests
beautifulsoup4
tqdm
pydantic
scikit-learn
openpyxl
langchain-community
langchain-openai
gdown
python-docx
docx2txt
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
gspread
psycopg2-binary
sqlalchemy>=2.0,<3.0
pdf2image
pytesseract
plotly
fpdf2
chromadb
